body {
  background-color: rgb(220, 219, 232);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#card {
  background-color: white;
  width: 30%;
  height: 65%;
  border-radius: 6%;
  padding: 1rem;
}
#qr-background {
  background-color: violet;
  padding: 1rem;
  height: 60%;
  text-align: center;
  border-radius: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 70%;
  width: 70%;
}
h2,
p {
  text-align: center;
}
