@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Css */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

body {
  background-color: rgba(5, 17, 57, 1);
  font-family: "Poppins", serif;
}

/* Heading Bold Styles */
.heading-bold-h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-bold-h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-bold-h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-bold-h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  -webkit-text-fill-stroke: black;
}

.heading-bold-h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-bold-h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  text-align: l;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Heading Regular Styles */
.heading-regular-h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-regular-h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-regular-h3 {
  font-size: 40px;
  font-weight: 400;
  line-height: 56px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-regular-h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.heading-regular-h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-regular-h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Paragraphh Custom Styles */

.paragraph-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.paragraph-caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.paragraph-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Link or Button Styles */

.link-button-bold-large {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.link-button-bold-medium {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.link-button-bold-small {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.link-button-semibold-large {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.link-button-semibold-medium {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.link-button-semibold-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;

  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Button Styles */
.button-primary-large {
  top: 16px;
  left: 16px;
  padding: 8px 40px 8px 40px;
  gap: 8px;
  border-radius: 8px;
}

.button-primary-medium {
  top: 16px;
  left: 158px;
  padding: 8px 32px 8px 32px;
  gap: 8px;
  border-radius: 8px;
}

.button-primary-small {
  top: 16px;
  left: 297px;
  padding: 4px 24px 4px 24px;
  gap: 8px;
  border-radius: 8px;
}

.button-secondary-large {
  top: 80px;
  left: 16px;
  padding: 8px 40px 8px 40px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.button-secondary-medium {
  top: 80px;
  left: 158px;
  padding: 8px 32px 8px 32px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.button-secondary-small {
  top: 80px;
  left: 297px;
  padding: 4px 24px 4px 24px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff;
}

.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
}
