@use "./../01-abstracts/" as *;

a {
  text-decoration: none;
  color: inherit;
  &[href]:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

button:hover {
  cursor: pointer;
}

body {
  background-color: var(--color-bg-1);
}
