/* Body of the page */
body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  margin: 0;
}

/* QR Code Card */
#card {
  background-color: white;
  width: 288px;
  max-width: 288px;
  height: 464px;
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
/* QR Code Image Background */
#qr-background {
  background-color: hsl(219, 96%, 63%);
  padding: 1.5rem;
  height: 54%;
  text-align: center;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* QR Code Image */
#qr-image {
  width: 70%;
}

/* QR Code Card Title */
#card-title {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 1rem 0;
}
/* QR Code Card Complete Texts */
p {
  text-align: center;
  color: hsl(218, 44%, 22%);
}
/* QR Code Card Detail Text */
#card-text {
  color: hsla(218, 44%, 22%, 0.6);
  margin: 0.5rem;
}
@media (max-width: 375px) {
  #card {
    width: 73%;
    height: 70%;
  }
}
