<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
  </head>
  <body>
    <h1>Todo List</h1>
    <p><%= kindOfDay %></p>
    <ul>
      <% for (let i = 0; i < newTaskList.length; i++) { %>

      <li><%= newTaskList[i] %></li>
      <% } %>
    </ul>
    <form action="/" method="post">
      <input type="text" placeholder="write your tasks " name="newTask" />
      <button type="submit">Add Task</button>
    </form>
  </body>
</html>
